@using MovieApp.Models.ViewModels
@model MovieVM
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class=" col text-center">
                <h2 class="text-white py-2">@(Model.Movie.Id != 0 ? "Update" : "Create") Movie</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="Create" class="row" enctype="multipart/form-data">
            <input asp-for="Movie.Id" hidden />
            <input asp-for="Movie.ImageUrl" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @* <div asp-validation-summary="All"></div> *@
                        <div class="mb-3 row p-1">
                            <label asp-for="Movie.Name" class="ms-2"></label>
                            <input asp-for="Movie.Name" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Movie.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Movie.Description" class="ms-2"></label>
                            <textarea asp-for="Movie.Description" class="form-control border-0 shadow"></textarea>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Movie.Rating" class="ms-2"></label>
                            <input asp-for="Movie.Rating" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Movie.Rating" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Movie.Director" class="ms-2"></label>
                            <input asp-for="Movie.Director" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Movie.Director" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Movie.ListPrice" class="ms-2"></label>
                            <input asp-for="Movie.ListPrice" class="form-control border-0 shadow" />
                            <span asp-validation-for="Movie.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Movie.Price" class="ms-2"></label>
                            <input asp-for="Movie.Price" class="form-control border-0 shadow" />
                            <span asp-validation-for="Movie.Price" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Movie.Price5" class="ms-2"></label>
                            <input asp-for="Movie.Price5" class="form-control border-0 shadow" />
                            <span asp-validation-for="Movie.Price5" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Movie.Price10" class="ms-2"></label>
                            <input asp-for="Movie.Price10" class="form-control border-0 shadow" />
                            <span asp-validation-for="Movie.Price10" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Movie.CategoryId" class="ms-2"> </label>
                            <select asp-for="Movie.CategoryId" asp-items="@Model.CategoryList" class="form-control border-0 shadow">
                                <option disabled selected>--Select Category</option>
                            </select>
                            <span asp-validation-for="Movie.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Movie.ImageUrl" class="ms-2"> </label>
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <span asp-validation-for="Movie.ImageUrl" class="text-danger"></span>
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Movie.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control border">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Movie.ImageUrl" width="100%" style="border-radius: 5px; border:1px; solid #bbb9b9" />
                </div>
            </div>
            

        </form>

    </div>
</div>




@section scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Apr 25, 2025:
                'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}